<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Employee Form</title>
</head>

<body>
    <h2>Enter Employee Details Here:</h2>
    <form method="post">
        Name: <input type="text" name="name" required><br><br>
        Department: <input type="text" name="department" required><br><br>
        Salary: <input type="number" name="salary" required><br><br>
        <input type="submit" value="Submit">
    </form>
</body>

</html>