<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product Form</title>
</head>

<body>
    <h2>Enter Product Details Here:</h2>
    <form method="post">
        Name: <input type="text" name="name" required><br><br>
        Category: <input type="text" name="category" required><br><br>
        Price: <input type="number" name="price" required><br><br>
        <input type="submit" value="Submit">
    </form>
    <a href="/products">View all products</a>
</body>

</html>